#include "Common.xcconfig"

PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(SCP_PRODUCT_BUNDLE_IDENTIFIER_PREFIX).$(PRODUCT_NAME:rfc1034identifier)
INFOPLIST_FILE = $(SRCROOT)/Sources/SupportingFiles/Info.plist

//MODULEMAP_FILE = $(SRCROOT)/Sources/SupportingFiles/$(PRODUCT_NAME).modulemap
APPLICATION_EXTENSION_API_ONLY = YES

ENABLE_BITCODE = YES
BITCODE_GENERATION_MODE = bitcode
OTHER_CFLAGS = -fembed-bitcode
