#include "Common.xcconfig"

PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(SCP_PRODUCT_BUNDLE_IDENTIFIER_PREFIX).$(PRODUCT_NAME:rfc1034identifier)
INFOPLIST_FILE = $(SRCROOT)/Sources/SupportingFiles/Info.plist

APPLICATION_EXTENSION_API_ONLY = YES
//MODULEMAP_FILE = $(SRCROOT)/Sources/SupportingFiles/$(PRODUCT_NAME).modulemap

ENABLE_BITCODE[sdk=iphone*] = YES;
ENABLE_BITCODE[sdk=appletv*] = YES;
ENABLE_BITCODE[sdk=watch*] = YES;

APPLICATION_EXTENSION_API_ONLY = YES;
