#include "Common.xcconfig"

PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(SCP_PRODUCT_BUNDLE_IDENTIFIER_PREFIX).$(PRODUCT_NAME:rfc1034identifier)
INFOPLIST_FILE = $(SRCROOT)/Sources/SupportingFiles/Info.plist

MACH_O_TYPE = mh_dylib
//MODULEMAP_FILE = $(SRCROOT)/Sources/$(PRODUCT_NAME)/$(PRODUCT_NAME).modulemap

APPLICATION_EXTENSION_API_ONLY = YES

//SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PUPPY_DEBUG
