#include "Common.xcconfig"

PRODUCT_NAME = C$(PROJECT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(SCP_PRODUCT_BUNDLE_IDENTIFIER_PREFIX).$(PRODUCT_NAME:rfc1034identifier)
INFOPLIST_FILE = $(SRCROOT)/Sources/SupportingFiles/Info.plist

MACH_O_TYPE = staticlib
MODULEMAP_FILE = $(SRCROOT)/Sources/$(PRODUCT_NAME)/$(PRODUCT_NAME).modulemap

APPLICATION_EXTENSION_API_ONLY = YES

ENABLE_BITCODE = YES
BITCODE_GENERATION_MODE = bitcode
OTHER_CFLAGS = -fembed-bitcode
